numpy==1.26.3
plyfile==0.8.1
opencv-python==4.9.0.80
pillow
scipy
scikit-learn
matplotlib
tqdm
rich
lpips
jaxtyping
tensorboard==2.16.2

-e submodules/simple-knn
-e submodules/surfel-texture
-e submodules/surfel-texture-deferred
-e submodules/diff-surfel-rasterization-shadow
